In [1]:
from random import randint
list = []
num_var = -1
for _ in range(1000):
    value = randint(1000000,9999999)
    if value not in list: list.append(value)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "squirt75",
        database = "rozemicbanking")

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000000C0899EC9C8>

In [3]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('rozemicbanking',)
('studentdb',)
('sys',)
('university',)

In [4]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('account',)
('customer',)
('postal_code',)

In [5]:
key_id = list[num_var + 1]
print(key_id)

3149571

In [6]:
sql = "INSERT INTO account (account_number, checkings, savings) VALUES (%s, %s, %s)"
val = ("3149571", "750000", "1000")
mycursor.execute(sql,val)

mydb.commit()
print(mycursor.rowcount,"record inserted.")

1 record inserted.

In [7]:
key_id = list[num_var + 2]
print(key_id)

2448180

In [8]:
sql = "INSERT INTO account (account_number, checkings, savings) VALUES (%s, %s, %s)"
val = ("2448180", "200", "200")
mycursor.execute(sql,val)

mydb.commit()
print(mycursor.rowcount,"record inserted.")

1 record inserted.

In [9]:
mycursor.execute("SELECT * FROM account")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(2448180, Decimal('200'), Decimal('200'))
(3149571, Decimal('750000'), Decimal('1000'))
(7373251, Decimal('750000'), Decimal('1000'))
(9736939, Decimal('50000'), Decimal('10000'))